.contenedor-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 20px;
  justify-content: space-around;
  background-image: url('../images/socias-background.jpeg');
}
