.contenedor-productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 20px;
  background-color: #d85671;
  /* background-color: #e1e1e1; */
  justify-content: space-around;
}
